#modal {
  align-items: center;
  background-color: $offWhite;
  border: 2px solid $primaryGreen;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 50%;
  max-height: 75%;
  padding: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 9999;

  #clear {
    background-color: tomato;
    border: none;
    border-radius: 7.5px;
    color: $offWhite;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 20px;
  }
  #clear:hover {
    background-color: red;
    color: $offWhite;
    scale: 1.1;
    transition-duration: 700ms;
  }
}
