.recipe-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.Recipe {
  background-color: $offWhite;
  border: solid $primaryGreen 2px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  float: left;
  height: 350px;
  margin: 20px;
  padding: 20px;
  width: 350px;

  h3 {
    color: $primaryGreen;
    font-family: $mainFont;
    position: relative;
  }
  a {
    color: $primaryGreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    word-break: break-all;
  }
  a:visited {
    color: $primaryGreen;
    text-decoration: none;
  }
  a:hover {
    color: $secondaryGreen;
  }
  p {
    color: $primaryGreen;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    overflow: auto;
    white-space: pre-line;
    padding-right: 10px;
  }
  p::-webkit-scrollbar {
    background-color: $secondaryGreen;
    border-radius: 15px;
  }

  p::-webkit-scrollbar-thumb {
    background-color: $primaryGreen;
    border-radius: 15px;
  }
  p::-webkit-scrollbar-track {
    background-color: $secondaryGreen;
    border-radius: 15px;
  }
}

.favorite {
  background-color: transparent;
  border: none;
  color: $primaryGreen;
  cursor: pointer;
  padding: 0px;
}

.favorite:hover {
  color: crimson;
}

.favorite-container {
  position: relative;
}

.delete {
  background-color: transparent;
  border: none;
  color: $primaryGreen;
  cursor: pointer;
  padding: 0px;
}

.expand {
  background-color: transparent;
  border: none;
  color: $primaryGreen;
  cursor: pointer;
  padding: 0px;
}

.expand:hover {
  color: $secondaryGreen;
  transform: scale(1.1);
}

.memo {
  background-color: $primaryGreen;
  border: solid $offWhite 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  color: $offWhite;
  font-family: $mainFont;
  font-size: 16px;
  padding: 5px;
  position: absolute;
  width: 100px;
}
