h1 {
    color: $tertiaryGreen;
    font-family: $mainFont;
    align-self: flex-start;
    padding-left: 5%;
    font-size: 50px;
    span {
        font-size: 24px;
        color: $tertiaryGreen;
        font-family: $mainFont
    }
}

body {
    background-color: $primaryGreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    background-color: $primaryGreen;
    ;
}
#autocompleteInput {
    background-color: $offWhite;
    margin-top: 10px;
}

.css-1h51icj-MuiAutocomplete-root .MuiAutocomplete-tag {
    background-color: $primaryGreen;
    color: $offWhite;
    font-weight: 400;
    font-size: 18px;
}

#submit-button {
    border-radius: 60px;
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    padding: 10px;
    height: 40%;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: $offWhite;
    color: $primaryGreen;
    border: solid $primaryGreen 2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}
/*********************FORMS**********************/
.IngredientForm {
    background-color: $offWhite;
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 60px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

#checkboxes {
    font-family: sans-serif;
    color: $offWhite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 40%;
}

@media screen and (max-width: 804px) {
    #checkboxes {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
    }
}

.checkbox {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 25%;
    vertical-align: middle;
    margin-bottom: 6px;
    border: 2px solid #ddd;
    // appearance: none;
    // -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}


/*********************CONTAINERS**********************/
.MainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: $primaryGreen;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    border-radius: px;
}

.RecipeContainer {
    margin-top: 50px;
    background-color: $offWhite;
    min-height: 80vh;
    height: fit-content;
    border-radius: 15px;
    width: 87.5%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    .recipeDisplay {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
    }
    h1 {
        color: $primaryGreen;
        padding-left: 20px;
        font-size: 30px;
    }
}


/*********************RECIPE**********************/
.recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Recipe {
    background-color: $offWhite;
    padding: 20px;
    border-radius: 15px;
    border: solid $primaryGreen 2px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    float:left;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    h3 {
        font-family: $mainFont;
        color: $primaryGreen;
    }
    a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        word-break: break-all;
        color: $primaryGreen;
    }
    a:visited { 
        text-decoration: none; 
        color: $primaryGreen; 
    }
    a:hover {
        color: $secondaryGreen; 
    }
    p {
        float: left;
        overflow: auto;
        white-space: pre-line;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $primaryGreen;
        margin: 0px;
    }
    p::-webkit-scrollbar {
        background-color: $secondaryGreen;
        border-radius: 15px;
    }

    p::-webkit-scrollbar-thumb {
        background-color: $primaryGreen;
        border-radius: 15px;
    }
}


.favorite {
    background-color: transparent;
    border: none;
    color: $primaryGreen;
    padding: 0px;
}

/**************LOADING**************/
#loading {
    margin-top: 50px;
}
.css-1idz92c-MuiCircularProgress-svg {
    color: #d8f0d5;
}